<!DOCTYPE html>
<head>
    <title>About Us</title>
    <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Kushagra Asthana. It uses data from mapbox and darksky.</p>
        <img class="portrait" src="./images/download.jpg">
    </div>
    
    {{>footer}}
</body>