<!DOCTYPE html>
<head>
    <title>Weather Application</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script type="text/javascript" src="./js/app.js"></script>
</head>

<body>
    <h5>Weather Application is coming soon. Dynamic Page using handlebars extension.</h5>
    <div>
       <form action="help.html">
        <input type="submit" value="Help"/>
        </form>
        <br>
        <form action="about.html">
        <input type="submit" value="About"/>
        </form> 
    </div>
</body>