<!DOCTYPE html>
<head>
    <title>Weather Application</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script type="text/javascript" src="./js/app.js"></script>
</head>

<body>
    <h5>{{title}}</h5>
    <h6>Created By {{name}}</h6>
    <div>
       <form action="help.hbs">
        <input type="submit" value="Help"/>
        </form>
        <br>
        <form action="about.hbs">
        <input type="submit" value="About"/>
        </form> 
    </div>
</body>